<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cycles-Added</title>
</head>
<body>
    <div class="container">
        <h3>Cycles-Added</h3>
        <div *ngFor="let cycle of cartCycles" class="cycle-card">
            <div class="cycle-details">
                <p>Cycle Name: {{ cycle.cycle.name }}</p>
                <p>Quantity: {{ cycle.quantity }}</p>
            </div>
        </div>
        <p>Total Payment: {{ totalPayment }}</p>
    </div>
</body>
</html>
