<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cycle Store</title>
</head>
<body>
    <header>
        <h2>Cycle Store</h2>
    </header>

    <div class="navbar">
        <a routerLink="/login-form" *ngIf="!isLoggedIn">Login</a>
        <button (click)="logout()" class="logout-button" *ngIf="isLoggedIn">Logout</button>
        <a routerLink="/restock">Restock</a>
        <a routerLink="/exchange">Exchange</a>
        <a routerLink="/cart">Cart({{ totalUniqueCartItems }})</a>
        <a routerLink="/user-profile">User Profile</a>

        <app-auth-logout></app-auth-logout>
    </div>

    <div class="content">
        <router-outlet></router-outlet>
    </div>
</body>
</html>
