<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cycle-Exchange</title>
</head>
<body>
    <h3>Cycle-Exchange</h3>

    <div class="container">
        <div *ngFor="let cycle of cycles" class="cycle-card">
            <div class="cycle-details">
                <p>{{ cycle.name }}</p>
                <p>Stock Count: {{ cycle.stockCount }}</p>
            </div>
            <div class="buttons">
                <button (click)="borrowCycle(cycle.id, 1)">Borrow</button>
                <button (click)="returnCycle(cycle.id, 1)">Return</button>
                <button (click)="addCycleCart(cycle.id, 1)">Cart</button>
            </div>
        </div>
    </div>
</body>
</html>
